<div class="wrap dashboard">
  <app-app-top [cursorId]="'cur_document'"></app-app-top>
  <app-catalog-nav></app-catalog-nav>
  <div class="contain">
    <div class="content">
      <div class="row one_line catalog maT30"> <!--임시-->
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-btn">
              <button name="button" class="btn" type="button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div><!-- row one_line -->
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>

