<head>
  <link rel="stylesheet" type="text/html" href="/document/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/html" href="/document/css/themes/prism.css">
  <link rel="stylesheet "type="text/html" href="/document/css/themes/prism-okaidia.css">
  <script src='/document/css/components/prism-css.min.js'></script>
  <script src='/document/css/plugins/line-numbers/prism-line-numbers.js'></script>
  <script src='/document/css/plugins/line-highlight/prism-line-highlight.js'></script>
  <script src='/document/css/components/prism.js'></script>
</head>

<div class="wrap dashboard">
  <app-app-top [cursorId]="'cur_document'"></app-app-top>
  <app-document-nav></app-document-nav>
  <div class="contain" id="document-div">
    <div class="content document_wrap">
      <div class="row one_line maT30">
        <div class="col-md-6">
          <div>
            <div><a [routerLink]="['/documentdevelopment']">{{ 'document.guide.buildpackGuide' | translate }}</a></div>
            <div><a [routerLink]="['/documentservice']">{{ 'document.guide.serviceGuide' | translate }}</a></div>
            <div><a [routerLink]="['/documentuser']">{{ 'document.guide.userGuide' | translate }}</a></div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>
