<head>
  <script src='../document/css/components/prism-css.min.js'></script>
  <script src='../document/css/plugins/line-numbers/prism-line-numbers.js'></script>
  <script src='../document/css/plugins/line-highlight/prism-line-highlight.js'></script>
  <script src='../document/css/components/prism.js'></script>
  <script src='../document/css/bootstrap.min.css'></script>
  <script src='../document/css/css/themes/prism.css"'></script>
  <script src='../document/css/themes/prism-okaidia.css'></script>
</head>
<div class="wrap dashboard">
  <app-app-top [cursorId]="'cur_document'"></app-app-top>
  <app-document-nav></app-document-nav>

  <div class="contain" id="document-div">
    <div class="content document_wrap">
      <div class="row one_line maT30">
        <div class="col-md-6">
          <div>
            <div class="serviceguideA"><a style="font-weight: bold; font-size:3rem; display: block">{{ 'document.guide.serviceGuide_A' | translate }}</a>
              <div class="serviceinstallA"><a style="font-weight: bold; font-size:2rem; display: block">{{ 'document.guide.installGuide_A' | translate }}</a>
                <div class="viewinstallA" *ngFor="let guideInstallA of this.serviceInstallA">
                  <div *ngIf="guideInstallA.gubun2 == this.serviceInstallguideA && guideInstallA.useYn == 'Y'">
                    <tr>
                      <td class="serviceA" id="{{guideInstallA.name}}" (click)="doGetService($event)" style="cursor: pointer">{{guideInstallA.name}}</td>
                    </tr>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="serviceguideB"><a style="font-weight: bold; font-size:3rem; display: block">{{ 'document.guide.serviceGuide_B' | translate }}</a>
            <div class="serviceinstallB"><a style="font-weight: bold; font-size:2rem; display: block">{{ 'document.guide.installGuide_B' | translate }}</a>
              <div class="viewinstallB" *ngFor="let guideInstallB of this.serviceInstallB">
                <div *ngIf="guideInstallB.gubun2 == this.serviceInstallguideB && guideInstallB.useYn == 'Y'">
                  <tr>
                    <td id="{{guideInstallB.name}}" (click)="doGetService($event)" style="cursor: pointer">{{guideInstallB.name}}</td>
                  </tr>
                </div>
              </div>
            </div>
          </div>
          <div class="serviceuseB"><a style="font-weight: bold; font-size:2rem; display: block">{{ 'document.guide.serviceUseGuide' | translate }}</a>
            <div class="viewuseB"*ngFor="let guideUseB of this.serviceUseB">
              <div *ngIf="guideUseB.gubun2 == this.serviceUseguideB && guideUseB.useYn == 'Y'">
                <tr>
                  <td id="{{guideUseB.name}}" (click)="doGetService($event)" style="cursor: pointer">{{guideUseB.name}}</td>
                </tr>
              </div>
            </div>
          </div>
          <br>
          <div class="serviceguideC"><a style="font-weight: bold; font-size:3rem; display: block">{{ 'document.guide.serviceGuide_C' | translate }}</a>
            <div class="servicesystem"><a style="font-weight: bold; font-size:2rem; display: block">{{ 'document.guide.buildpack_system' | translate }}</a>
              <div class="viewsystem" *ngFor="let buildpackSystem of this.system">
                <div *ngIf="buildpackSystem.gubun2 == this.systemdevelope && buildpackSystem.useYn == 'Y'">
                  <tr>
                    <td id="{{buildpackSystem.name}}" (click)="doGetBuild($event)" style="cursor: pointer">{{buildpackSystem.name}}</td>
                  </tr>
                </div>
              </div>
            </div>
          </div>
          <div class="servicecustom"><a style="font-weight: bold; font-size:2rem; display: block">{{ 'document.guide.buildpack_custom' | translate }}</a>
            <div class="viewcustom" *ngFor="let buildpackCustom of this.custom">
              <div *ngIf="buildpackCustom.gubun2 == this.customdevelope && buildpackCustom.useYn == 'Y'">
                <tr>
                  <td id="{{buildpackCustom.name}}" (click)="doGetBuild($event)" style="cursor: pointer">{{buildpackCustom.name}}</td>
                </tr>
              </div>
            </div>
          </div>
          <!--        <div><a [routerLink]="['/documentdevelopment']">{{ 'document.guide.buildpackGuide' | translate }}</a></div>-->
          <!--        <div><a [routerLink]="['/documentservice']">{{ 'document.guide.serviceGuide' | translate }}</a></div>-->
          <div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>

