<div class="wrap dashboard">
  <app-app-top [cursorId]="'cur_document'"></app-app-top>
  <app-document-nav></app-document-nav>

  <div class="contain" id="document-div">
    <div class="content document_wrap">
      <div class="row one_line maT30">
        <div class="col-md-6">
          <div>
            <h2>사용자 가이드 페이지</h2>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>
