<nav style="min-height: 1400px;">
  <div class="scroll_style">
    <ul class="nav_1d">
      <li id="nav_first" (click)="viewMain(1)">
        <dl>
          <dt>
            <div id="lnbimg1" class="lefticos">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'catalog.nav.viewAll' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewServiceGuide(2)" id="nav_second">
        <dl>
          <dt>
            <div id="lnbimg9" class="">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'document.list.serviceGuide' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewDevGuide( 4)" id="nav_third">
        <dl>
          <dt>
            <div id="lnbimg4" class="">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'document.list.devGuide' | translate }}
            </p>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
  <div class="nav_2d scroll_H">
    <div class="">
      <div>
        <ul>
          <li id="document_nav1" class="titles" (click)="viewMain(1)">  {{ 'catalog.nav.viewAll' | translate }}</li>
          <li id="document_nav2" class="titles" (click)="viewServiceGuide(2)">{{ 'document.list.serviceGuide' | translate }}</li>
          <li id="document_nav3" *ngFor="let serviceGuideEntities of this.guideEntities">
              <div *ngIf="serviceGuideEntities.gubun2 == this.serviceGuide && serviceGuideEntities.useYn == 'Y'">
                <i class="fas fa-book"></i> {{serviceGuideEntities.name}}
              </div>
          </li>
<!--          <li id="document_nav4" class="titles" (click)="viewDevGuide('devGuide', 3)">{{ 'document.list.devGuide' | translate }}</li>-->
          <li id="document_nav4" class="titles" (click)="viewDevGuide( 4)">{{ 'document.list.devGuide' | translate }}</li>
          <li id="document_nav5" *ngFor="let devGuideEntities of this.guideEntities" >
            <div *ngIf="devGuideEntities.gubun2 == this.devGuide && devGuideEntities.useYn == 'Y'">
              <i class="fas fa-book"></i>{{devGuideEntities.name}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
