<script src="/assets/resources/js/Chart.js" type="text/javascript"></script>
<div style="min-height:100%;">
  <h2 class="headTH2">VM 자원현황 대시보드 &nbsp; <i class="rot fas fa-sync-alt" (click)="refreshClick()"></i></h2>
  <dl class="col_in1_dl">
    <dt>
      <ul>
        <li><span class="on_dot BGcolors3"></span> {{ 'appMain.app.space' | translate }}
        </li>
        <li>{{spaceName}}</li>
      </ul>
    </dt>
  </dl>
  <!--VM 자원현황 대시보드 -->
  <div>
    <ul>
      <div class="chart_wrap" style="position: relative; height: 200px">
        <div class="chart_title">Memory</div>
        <canvas #lineCanvas style="height:10vh; width:20vw"></canvas>
      </div>
    </ul>
  </div>
  <!--VM 자원현황 대시보드 끝-->
</div>




